@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(./res/materialize/fonts/MaterialIcons.woff2) format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(./res/materialize/fonts/Roboto-Regular.ttf) format('truetype');
}
  
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

body {
	overflow-x: hidden;
	background-color: #424242;
	font-family: 'Roboto', sans-serif !important;
	font-weight: bold !important;
}

nav .nav-wrapper ul li a{
	height: 45px !important;
}

nav .nav-wrapper ul li a i{
	height: 45px !important;
}

a:focus{
	outline: none;
}

#minIcon{
	position: relative;
	top: -15px;
}

#closeIcon{
	position: relative;
	top: -9px;
}

#settingsIcon{
	position: relative;
	top: -9px;
}

#windowClose:hover{
	background-color: #c62828;
}

#actions:hover a #actionIcon{
	transition: 0.35s;
	transform: rotateZ(-90deg);
}

#actions:hover #actionsBtn{
	transform: scale(1.1);
	transition: all ease 0.35s;
}

#actions ul li:hover{
	transform: scale(1.15);
	transition: all ease 0.35s;
}

#actions #actionsBtn,
#actions ul li{
	transform: scale(1.0);
	transition: all ease 0.35s;
}

.wiggle:hover{
	animation: wiggle 75ms infinite;
	animation-timing-function: linear;
}

@keyframes wiggle {
	0% { transform: translate(2px, 0); }
	50% { transform: translate(-2px, 0); }
	100% { transform: translate(2px, 0); }
}

.input-field{
	margin-bottom: -10px !important;
}

.input-field input:focus {
	border-bottom: 1px solid #3f51b5 !important;
	box-shadow: 0 1px 0 0 #3f51b5 !important;
}

.input-field input:focus + label {
	color: #3f51b5 !important;
	font-weight: normal !important;
}

.input-field label {
	color: #737373 !important;
	font-weight: normal !important;
}

.reversed-switch{
	margin-top: -7px !important;
	margin-left: -20px !important;
}

.split-switch{
	margin-top: -15px !important;
	margin-left: -20px !important;
}

.endVel-switch{
	margin-top: -15px !important;
	margin-left: -20px !important;
}

.switch label{
	color: #737373 !important;
	font-size: 16px !important;
	font-weight: normal !important;
}

.switch label input[type=checkbox]:checked+.lever {
	background-color: #7986cb;
}

.switch label input[type=checkbox]:checked+.lever:after {
	background-color: #3f51b5;
}

ul.dropdown-content.select-dropdown li span {
	color: #202020 !important;
	font-size: 14px !important;
	font-weight: normal !important;
}

.brand-logo{
	top: -9px !important;
	font-size: 24px !important;
}

nav {
	height: 45px;
	-webkit-app-region: drag;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	font-weight: normal !important;
}

#windowButtonsRight{
	-webkit-app-region: no-drag;
}

#windowButtonsLeft{
	-webkit-app-region: no-drag;
}

#settings {
	width: 35% !important;
	height: 70% !important;
}

#pointConfig {
	width: 30% !important;
	height: 40% !important;
}

#generateModal {
	width: 35% !important;
	height: 60% !important;
}

#changesModal li{
	font-weight: normal;
	font-size: 16px;
}

.tab{
	width: 50% !important;
}

.tabs{
	overflow: hidden;
}

.modal-content{
	overflow: hidden !important;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}