* {
    -background: #eeeeee;
    -tabBg: #212121;
    -tabAccent: #FF3500;
    -buttonText: #eeeeee;
    -gray: #606060;
    -text: #ffffff;
    -statusGreen: #4caf50;
    -statusYellow: #ffeb3b;
    -statusRed: #f44335;
}

.dialog-heading{
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
    -fx-font-weight: BOLD;
}

.text-field-label{
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
}

.button-raised{
    -fx-padding: 0.2em 0.4em;
    -fx-font-size: 20px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(77, 102, 204);
    -fx-text-fill: -buttonText;
}

.button-flat{
    -fx-font-size: 15px;
    -jfx-button-type: FLAT;
    -fx-text-fill: #03A9F4;
    -fx-font-weight: BOLD;
}

.prompt-text{
    -fx-font-size: 18px;
    -fx-text-fill: -text;
}

.jfx-text-field{
    -fx-font-size: 18px;
    -fx-text-fill: #000000;
}

.jfx-dialog{
    -fx-background-color: #22222277;
}

.dark-bg{
    -fx-background-color: rgb(89, 89, 89);
}

.jfx-tab-pane{
    -fx-background-color: -background;
}

.jfx-tab-pane .tab-header-background{
    -fx-background-color: -tabBg;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: -tabAccent;
}

.jfx-tab-pane .tab-selected-line{
    -fx-background-color: -tabAccent;
}

.jfx-snackbar-content {
    -fx-background-color: #323232;
}

.jfx-snackbar-content:info .jfx-snackbar-toast{
    -fx-font-size: 24px;
    -fx-text-fill: -text;
    -fx-alignment: CENTER;
}

.jfx-snackbar-content:success .jfx-snackbar-toast{
    -fx-font-size: 24px;
    -fx-text-fill: -statusGreen;
    -fx-alignment: CENTER;
}

.jfx-snackbar-content:error .jfx-snackbar-toast{
    -fx-font-size: 24px;
    -fx-text-fill: -statusRed;
    -fx-alignment: CENTER;
}

.jfx-snackbar-action{
    visibility: hidden;
}
