* {
    -background: #eeeeee;
    -accent: #3F51B5;
    -tabLine: #ffffff;
    -ripple: #03A9F4;
    -buttonText: #eeeeee;
    -gray: #606060;
    -statusGreen: #4caf50;
    -statusYellow: #ffeb3b;
    -statusRed: #f44335;
}

.jfx-check-box{
    -jfx-checked-color: -accent;
}

.jfx-combo-box{
    -jfx-focus-color: -accent;
    -jfx-unfocus-color: -accent;
    -fx-font-size: 18px;
}

.combo-box-popup .list-view .jfx-list-cell:selected,
.combo-box-popup .list-view .jfx-list-cell:hover{
    -fx-background-color: -accent;
}

.combo-box-popup .list-view .jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: -ripple;
}

.dialog-heading{
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
    -fx-font-weight: BOLD;
}

.input-label{
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
}

.button-raised{
    -fx-padding: 0.2em 0.4em;
    -fx-font-size: 20px;
    -jfx-button-type: RAISED;
    -fx-background-color: -accent;
    -fx-text-fill: -buttonText;
}

.button-raised .jfx-rippler{
    -jfx-rippler-fill: -ripple;
}

.button-flat{
    -fx-font-size: 15px;
    -jfx-button-type: FLAT;
    -fx-text-fill: -accent;
    -fx-font-weight: BOLD;
}

.button-flat .jfx-rippler{
    -jfx-rippler-fill: #424242;
}

.jfx-text-field{
    -fx-font-size: 18px;
    -fx-text-fill: #000000;
    -jfx-focus-color: -accent;
}

.jfx-dialog{
    -fx-background-color: #22222277;
}

.dark-bg{
    -fx-background-color: rgb(89, 89, 89);
}

.jfx-tab-pane{
    -fx-background-color: -background;
}

.jfx-tab-pane .tab-header-background{
    -fx-background-color: -accent;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: -accent;
}

.jfx-tab-pane .tab-selected-line{
    -fx-background-color: -tabLine;
}

.jfx-snackbar-content {
    -fx-background-color: #424242;
}

.jfx-snackbar-content:info .jfx-snackbar-toast{
    -fx-font-size: 24px;
    -fx-text-fill:#ffffff;
    -fx-alignment: CENTER;
}

.jfx-snackbar-content:success .jfx-snackbar-toast{
    -fx-font-size: 24px;
    -fx-text-fill: -statusGreen;
    -fx-alignment: CENTER;
}

.jfx-snackbar-content:error .jfx-snackbar-toast{
    -fx-font-size: 24px;
    -fx-text-fill: -statusRed;
    -fx-alignment: CENTER;
}

.jfx-snackbar-action{
    visibility: hidden;
}
