name: Publish documentation to GitHub Pages

on:
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build PathPlannerLib
        working-directory: pathplannerlib
        run: |
            ./gradlew build -PreleaseMode
            ./gradlew publish -PreleaseMode

      - name: Get Doxygen theme
        working-directory: pathplannerlib
        run: |
            git submodule add https://github.com/jothepro/doxygen-awesome-css.git
            cd doxygen-awesome-css
            git checkout v2.2.1

      - name: Generate Doxygen docs
        uses: mattnotmitt/doxygen-action@v1.9.5
        with:
          working-directory: pathplannerlib
      
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      
      - name: Install python dependencies
        working-directory: ./pathplannerlib-python
        run: |
          python -m pip install --upgrade pip
          pip install build handsdown mkdocs mkdocs-material
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      
      - name: Generate python docs
        working-directory: ./pathplannerlib-python
        run: |
          handsdown --external https://github.com/mjansen4857/pathplanner.git -o docsmd -n pathplannerlib --theme=material --create-configs include pathplannerlib
          python -m mkdocs build
      
      - name: Move java/cpp to api dir
        run: |
            mkdir _site
            mkdir _site/api
            sudo mv pathplannerlib/build/docs/javadoc _site/api/java
            sudo mv pathplannerlib/build/docs/cpp/html _site/api/cpp
      
      - name: Move python to api dir
        run: |
          sudo mv pathplannerlib-python/docs _site/api/python
      
      - name: Fix permissions
        run: |
          chmod -c -R +rX "_site/" | while read line; do
            echo "::warning title=Invalid file permissions automatically fixed::$line"
          done
      
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v2

  deploy:
    runs-on: ubuntu-22.04
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
